* {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 100%;
    overflow-x: hidden;
}
#top-logo {
    padding-left: 25px;
}
#top-logo img {
    display: inline-block;
    margin-top: 15px;
}
#top-logo h1 {
    vertical-align: top;
    font-family: 'IM Fell English', 'Open Sans';
    font-size: 44px;
    line-height: .8;
    padding-top: 50px;
    margin-left: -118px;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    color: steelblue;
    text-shadow: 1px 1px 6px whitesmoke;
}
.mat-icon:hover {
    border-radius: 50px;
    background-color: steelblue;
    padding: 7.5px;
}
#main-menu {
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 99;
    display: inline-block;
    position: fixed;
    padding-top: 40px;
    color: white;
}
#main-menu .button-bar {
    margin: 25px;
    padding: 0 15px;
}
#main-menu .mat-button {
    color: white;
    font-size: 16px;
    font-family: 'IM Fell English';
}
#main-menu .mat-button:hover {
    border-bottom: 3px solid steelblue;
    color: rgba(245, 245, 245, 0.755);
}
#main-menu .mat-button .fa-shopping-cart {
    margin-bottom: 5px;
}
.mat-sidenav-content {
    overflow-x: hidden;
}
.mat-drawer {
    top: 15%;
    padding: 15px;
    position: fixed;
    background-color: rgba(245, 245, 245, 0.719);
}


/* *********** END OF TOP MENU *************** */

#sec-1 {
    padding-top: 170px;
    height: 100vh;
    font-family: 'Open Sans';
    text-align: center;
    background-image: url(../assets/background.png);
    background-size: 100%;
    background-repeat: round;
}

#sec-1 a {
    text-decoration: none;
    color: whitesmoke;
    z-index: 2;
    position: relative;
    background: #dfc5c533;
    padding: 20px 45px;
    border: 3px solid;
    border-radius: 5px;
    font-size: 24px;
    bottom: 450px;
}
#sec-1 a:hover {
    box-shadow: 0 0 10px whitesmoke;
    font-weight: bolder;
    border: 5px solid;
    text-shadow: 2px 2px 5px black;
    color: steelblue;
}
.main-carousel {
    width: 66%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.701);
    filter: drop-shadow(8px 8px 10px gray);
}
.carousel-cell {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}
.carousel-cell:before {
    display: block;
    text-align: center;
}
.carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
}
.carousel-nav {
    padding: 50px;
}
#slider-1, #slider-2, #slider-3, #slider-4, #slider-5 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}


/* ************ SECTION 2 ************ */

#sec-2 {
    background-color: rgba(0, 0, 0, 0.801);
    color: whitesmoke;
    height: auto;
    text-align: center;
    padding-bottom: 80px;
}

#sec2-text {
    display: inline-block;
    text-shadow: 0 0 10px gray;
    padding-top: 50px;
}
#sec2-text h3 {
    font-size: 36px;
    font-family: "IM Fell English";
}
#sec2-text hr {
    margin-bottom:15px;
}
#sec2-text a {
    color: white;
    margin-top: 25px;
    font-size: 18px;
    text-decoration: none;
    padding: 7.5px;
    font-family: 'Open Sans';
}
#sec2-text a:hover {
    box-shadow: 0 0 5px whitesmoke;
    border: 2px solid;
    text-shadow: 2px 2px 5px black;
    color: steelblue;
}

/* FEATURED PRODUCTS SECTION */


/* ********** IN NEED OF SOME CLEANING UP!!!! */


.product-container {
    padding-top: 25px;
    font-size: 0;
    display: flex;
    justify-content: space-evenly;
}
.product-container .box {
    border: 5px solid steelblue;
    display: inline-flex;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    width: 25%;
}
figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0;
    position: relative;
    display: block;
    cursor: pointer;
}
figure .image-table {
    max-width: 100%;
    width: 100%;
    display: table;
    table-layout: auto;
}
figure .image-cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* Keeps image inside border box on hover */
figure .image-cell a.product-image {
    background-size: cover;
    display: inline-block;
    width: 100%;
    background-position: center center;
}
figure a.product-image.view-alt, .collection figure a.product-image.view-alt {
    background-position: -1000px -1000px;
    background-repeat: no-repeat;
}
/* ******************************** */

figcaption a.product-title {
    display: block;
    font-family: "Open Sans";
    color: steelblue;
    font-size: 1.125em;
    text-decoration: none;
    text-align: center;
}
figcaption a.product-title:hover {
    font-weight: bolder;
    text-shadow: 1px 1px 5px dimgrey;
}

/* end of necessary clean up for featured products section */

.product-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.product-image img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.product-image img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
}
figcaption {
    margin-top: 10px;
    line-height: 1.3;
    font-size: 18px;
}



/* ********* LOGO SECTION ************** */

#sec-container {
    height: auto;
}
#sec-logo-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: stretch;
}
#sec-logo-left {
    width: 33%;
    background-image: url(../assets/spec-left.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
#sec-logo-left, #sec-logo-right, #sec-logo-mid {
    justify-content: center;
}
#sec-logo-left a, #sec-logo-right a {
    margin: 50%;
    font-weight: 300;
    padding: 5px 35px;
    color: white;
    font-size: 32px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #ffffff;
}
#sec-logo-left a:hover, #sec-logo-right a:hover {
    background-color: rgba(0,0,0,0.7);
    border: 2px solid rgba(255, 222, 173, 0.767);
    color: rgba(255, 222, 173, 0.767);
}
#sec-logo-mid {
    width: 34%;
    background-color: steelblue;
    display: flex;
}
#sec-logo-mid h2:hover {
    color: rgba(255, 222, 173, 0.767);
}
#sec-logo-mid h2 {
    margin: 40% auto;
    font-size: 36px;
    color: white;
    font-family: 'IM Fell English';
}
#sec-logo-mid a {
    text-decoration: none;
    text-transform: uppercase;
}

#sec-logo-right {
    width: 33%;
    background-image: url(../assets/spec-right.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}


/* ********* SECTION 3 - about us ************** */

#sec-3 {
    background-color: rgb(13, 25, 35);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
    padding: 70px 30px;
    align-items: stretch;
}
.about-sec-img {
    background-image: url(../assets/about_us.jpeg);
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-sec-text {
    width: 45%;
    padding: 60px 30px 0 30px;
}
.about-sec-text h1, .about-sec-text p {
    font-family: 'Open Sans';
    color: #646569;
    margin: 15px 0;
}
.about-sec-text h2 {
    font-family: 'IM Fell English';
    color: steelblue;
    padding: 10px 0;
}
.about-sec-text a {
    font-family: 'Open Sans';
    color: steelblue;
    text-decoration: none;
    letter-spacing: .1em;
    font-size: 12px;
    padding: 8px 16px 6px 16px;
    border: 1px solid steelblue;
}
.about-sec-text a:hover {
    color: whitesmoke;
    border: 1px solid #646569;
}


/* ********** CONTENT ABOVE FOOOTER ********** */

#above-footer-content {
    background-image: url(../assets/af-background.jpeg);
    background-size: cover;
    background-repeat: round;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}
#af-logo, #af-links, #af-contact {
    opacity: 1; 
    text-align: center;
    font-weight: bolder;
    font-family: 'Open Sans';
}

#af-links a {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    min-width: 100%;
    text-decoration: none;
    color: steelblue;
    text-shadow: 2px 2px 10px whitesmoke;
}
#af-contact h1, #af-contact h3{
    color: steelblue;
    font-family: "Impact";
    font-size: 28px;
    text-shadow: 2px 2px 10px whitesmoke;
}
#af-contact h1 {
    font-size: 32px;
}
#af-contact a {
    color: black;
}
#af-contact i {
    color: black;
    padding: 10px;
}
#af-links a:hover {
    text-shadow: 5px 5px 10px steelblue;
}
#af-contact i:hover {
    text-shadow: 5px 5px 10px whitesmoke;
}


/* ********** FOOOOOOOOOOOOOOTER ********** */

.footer {
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: whitesmoke;
    padding: 15px;
}



/* ####################################### */
/* ####################################### */
/* ####################################### */

        /* RESPONSIVE MOBILE DESIGN */

/* ####################################### */
/* ####################################### */
/* ####################################### */

@media only screen and (max-width: 768px) {

#main-menu img {
    height: 110px;
}
#top-logo h1 {
    padding-top: 36px;
    font-size: 34px;
}
#main-menu .mat-button {
    font-size: 10px;
}
#main-menu #cart {
    display: none;
}
.mat-drawer {
    top: 16%;
}
#sec-contact {
    height: auto;
}
.footer {
    bottom: 0;
    text-align: center;
}
.footer a {
    padding: 10px;
}
#sec-3 {
    height: auto;
}
.about-sec-text {
    padding: 0px 30px 0 30px;
}
#af-logo {
    display: none;
}
#af-contact h1 {
    font-size: 28px;
}
#af-contact h3 {
    font-size: 21px;
}
#sec-container {
    height: auto;
}
#sec-logo-content {
    flex-flow: column wrap;
}
.sec-logo-box {
    border: blue;
}
#sec-logo-left, #sec-logo-mid, #sec-logo-right {
    width: 100%;
}

#sec-logo-left a, #sec-logo-right a, #sec-logo-mid h2 {
    margin: 25%;
}

}

@media only screen and (max-width: 480px) {

#main-menu {
    padding-top: 55px;
}
#main-menu .button-bar {
    display: none;
}
#main-menu img {
    height: 80px;
}
#main-menu h1 {
    padding-top: 0;
}
#top-logo {
    margin-top: -15px;
}
#top-logo h1 {
    margin-left: -95px;
}
#top-logo img {
    margin-top: 0px;
}
.mat-drawer {
    top: 8%;
}

/* *********** END OF TOP MENU *************** */

.router-outlet {
    height: auto;
}
.main-carousel {
    width: 100%;
    padding: 0;
    border-radius: 0;
}
#sec-1 {
    padding-top: 70px;
    height: 78vh;
}
#sec-1 a {
    bottom: 300px;
}
.mat-toolbar-row {
    height: 15px;
}
.product-container .box {
    border: 2px solid steelblue;
}
#sec-logo-mid h2 {
    margin: 0;
}
#sec-3 {
    background-image: url(../assets/about_us.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-flow: nowrap;
    height:  auto;
    width: auto;
    padding: 100px 10px;
}
.about-sec-img {
    display: none;
}
.about-sec-text {
    padding: 0;
    width: 100%;
    text-align: center;
}
.about-sec-text h2, .about-sec-text a {
    color: white;
    text-align: center;
}
.about-sec-text p, .about-sec-text h1 {
    margin: 0;
    display: none;
}
.about-sec-text a {
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .product-container .box {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        min-height: 1px;
        vertical-align: top;
        width: 50%;
}
}

@media only screen and (max-width: 481px) and (min-width: 842px) {
    .navbar #main-menu .mat-button {
        display: none;
    }
}



}