<div class="container">
  <section id="story-sec">
    <h1>ABOUT BUNGHOLE BARRELWORKS</h1>
    <div id="story-sec-text">
      <p> At Bunghole Barrelworks it's our mission to make quality, handcrafted products. We creatively transform whiskey barrels into what we consider beauitful art. Our main purpose aims to create custom products that our supporters will cherish forever, while also keeping in mind our environmental impact. Repurposing these inherited Whiskey Barrels not only provides you the customer an amazing product we know you'll love but also permits these otherwise unused barrels from ending up in a landfill. We love what we do and we make every effort to satisfy our customers with quality products. We absolutely cannot wait for you to start enjoying our amazing products!</p>
    </div>
    <div id="story-sec-img">
      <!-- CSS Background Image -->
    </div>
  </section>
  
  <section id="story-sec-mid">
    <div id="story-sec-mid-img">
      <!-- CSS Background Image -->
    </div>
    <div id="story-sec-mid-text">
      <blockquote>
        <p>We pride ourselves on quality craftmanship found only utilizing barrels we've hand selected from the best sourced whiskey barrel distributor possible.</p>
        <p>- Levi McGhee, owner</p>
      </blockquote>
    </div>
  </section>

  <section id="story-sec-last">
    <h3>ABOUT THE OWNERS</h3>
    <p>Bunghole founders, Levi McGhee and Joe Demaline , decided one random day to have a little fun in the garage. It was a sunday afternoon in a Huntley, Illinois, a far northwestern suburb of Chicago when neither could've guessed they'd come across a pretty great idea of making some old whiskey barrel that had been collecting dust in the corner for months into something spectacular! Thanks to their Sunday boredom an innovative idea was born, and here we are today with the creation of Bunghole Barrelworks!</p>
    <div class="owner-pics-container">
      <div id="owner-pic-1">
        <!-- CSS Background Image -->
        <p>Cutting some wood and stuff.</p>
      </div>
      <div id="owner-pic-2">
        <!-- CSS Background Image -->
        <p>blah blah blah blah</p>
      </div>
      <div id="owner-pic-3">
        <!-- CSS Background Image -->
        <p>Doing things and reaching for stuff.</p>
      </div>
    </div>
  </section>

  
</div>
  
  